sudo: false
language: java
jdk: openjdk11

addons:
  sonarcloud:
    organization: "michaelruocco"
    token:
      secure: "QhWZqHeTWUNFdoUFcvAi6U3SQUaYU2Sau8HsQ1CcfDQn58xalFOs9LQIMLF0/Nk0meKus+KoMpw8brIYtMsQEUMQZ990q944A2KKXyqNC6Cw2fPCsDxFyRVQT7droiT1TisW1zjFdRCGJYoYmwcoSBBaCzkO7arhKOlarkoDQU3e5YBjfxwT/IcY98G3km0AvLybEnyR9kA/5AN7l7SyR0//QqEB5TcWPX134OmCZvJmGN98itygXyIjHSRsLpyDzC/O0KSaXeBb7QW9kLOnzKWH/4RswErcSC/NV6TQHkOkavGrhw6CMk7HAv0i4NJuX0vh94lGdvIDWM3OXq8sa1bIGDLT5Ux+oC1Vom8+1vsYwPrBLZPdPojKiQ/scE3uMYTMccgakFH6lbfSJPdenhYYi9fnCK5O2S6oJkOSDGkEZq2wWQTg4aAvw6uFYbIJnS8Fg5C5Gs96JJWYZAVMpv6F/rN4pkQ8r29TE61O92wEOZuKskyOHnTW5Nu1GU3CfIlQS9QzQU5sxq2DnajSOea72bw5eUjmVc8EUHZtA4w4Y5QCt1jScgSv46cSgKNu3rbzbBGn1+KPqgKIMiORnldujp6BJXdNxCg6aL1XiPQoiHQxuS3P6NnFjcT5WPw01+5hKUVVk0d9yZIVd2KMdMgXlxNyCmlgRLSW8H634GU="

branches:
  except:
    - /^spring-filters-*/

before_cache:
  - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

after_success:
  - bash <(curl -s https://codecov.io/bash)
  - bash <(curl -Ls https://coverage.codacy.com/get.sh) report -l Java -r build/reports/jacoco/report.xml

stages:
  - name: build

  - name: snapshot
    if: branch != release

  - name: release
    if: branch = release

jobs:
  include:
    - stage: build
      script: ./gradlew clean currentVersion spotlessCheck build dependencyUpdates jacocoTestReport sonarqube

    - stage: snapshot
      script: ./gradlew artifactoryPublish -Dbuild.number=$TRAVIS_BUILD_NUMBER

    - stage: release
      script:
        - >
          git checkout $TRAVIS_BRANCH;
          ./gradlew release -Prelease.customUsername=$GITHUB_TOKEN;
          ./gradlew bintrayUpload -Dbuild.number=$TRAVIS_BUILD_NUMBER